@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');
 
* {
  box-sizing: border-box;
}

html body {
  font: 17px/1.5 'Atkinson Hyperlegible', Verdana, Geneva, sans-serif;
}

body {
  background-color: #f8f9fa;
  margin: 0;
  min-height: 100vh;
  padding-bottom: 200px;
  position: relative;
}

main {
  margin: 0 auto;
  max-width: 1000px;
}

img {
  height: auto;
  max-width: 100%;
}

.small-card {
  border-radius: 5px 5px 0 0;
}

a {
  text-decoration: none;
}

.styled-container {
  background-color: #f9da96;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 15px;
}

/********************* Skip Link **********************/

#skip-link {
  background: #fcc247;
  border-radius: 5px;
  color: #212123; 
  font-weight: bold;
  left: 50px;
  padding: 10px 15px;
  position: absolute;
  text-decoration: none;
  top: -50px; 
  transition: top 0.3s ease-in-out;
  z-index: 2000; 
}

#skip-link:focus {
  outline: 3px solid #212123; 
  top: 10px; 
}

/********************* Header and Footer **********************/

header {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background: #f9da96;
  position: sticky;
  top: 0;
}

footer {
  background: #f9da96;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;
}

/**************** Recipe Cards ***********************/

.card:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
  transition: 0.3s ease-in-out;
}

/**************** Full Recipe ***********************/

.carousel-item img {
  border-radius: 10px;
  max-height: 400px;
  object-fit: cover;
}

.recipe-image img {
  border-radius: 8px;
  height: auto;
  max-width: 100%;
}

.breadcrumb {
  background: none;
  padding: 8px 0;
  list-style: none;
}

.breadcrumb li {
  display: inline;
  font-size: 14px;
}

.breadcrumb li + li:before {
  content: " / ";
  padding: 0 5px;
}

.video-container {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%; /* 16:9 Aspect Ratio (height:width) */
  position: relative;
  width: 100%;
}

.video-container iframe {
  border: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/****************** Rating System ******************/

.rating-container {
  align-items: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rating-container .star-widget input {
  display: none;
}

.star-widget label {
  color: #444;
  font-size: 30px;
  float: right;
  padding: 5px;
  transition: all .2s ease;
}

.star-widget input:not(:checked) ~ label:hover,
.star-widget input:not(:checked) ~ label:hover ~ label {
  color: #fcc247;
  cursor: pointer;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

.star-widget input:checked ~ label {
  color: #fcc247;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

.rating-icon i {
  color: #fcc247;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

/******************* Login Form *****************/

.login-form {
  background: #fff;
  border-radius: 8px;
  margin: 0 auto;
  max-width: 400px;
}

.login-form h2 {
  color: #212123;
  font-size: 1.8rem;
  font-weight: bold;
}

.btn-primary {
  background-color: #f9da96;
  border-color: #fcc247;
  color: #212123;
}

.btn-primary:hover {
  background-color: #fcc247;
  border-color: #fcc247;
  color: #212123;
}

/******************* Signup Form *****************/

.signup-form {
  background: #fff;
  border-radius: 8px;
  max-width: 400px;
  margin: 0 auto;
}

.signup-form h2 {
  color: #333;
  font-size: 1.8rem;
  font-weight: bold;
}

.btn-primary {
  background-color: #f9da96;
  border-color: #fcc247;
  color: #212123;
}

.btn-primary:hover {
  background-color: #fcc247;
  border-color: #fcc247;
  color: #212123;
}

.min-height-error {
  display: inline-block;
  min-height: 20px;
}

/******************* Admin Dashboard tables *****************/

.table {
  border-radius: 8px;
  overflow: hidden;
}

.table thead {
  background-color: #333;
  color: #fff;
}

.table-hover tbody tr:hover {
  background-color: #fcc247;
}

.btn-sm {
  font-size: 0.875rem;
  padding: 5px 10px;
}
