* {
  box-sizing: border-box;
}

html {
  font: 16px/1.5 'PT Sans', sans-serif;
}

body {
  background-color: #e1d4c2;
  margin: 3rem;
}

img {
  height: auto;
  max-width: 100%;
}

/********************* Header **********************/

/* header nav {

} */

#header-top {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#header-top form {
  justify-self: center;
  padding: 1rem;
}

#header-lower nav ul {
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(6, auto);
  
  padding: .75rem 0;
}

header li {
  list-style: none;
}

header nav a {
  border: solid #333 1px;
  padding: .75rem 2rem;
  text-decoration: none;
}

.card-preview-container {
  border: solid green 3px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.recipe-card-preview {
  border: solid blue 1px;
  padding: 2rem;
}

.recipe-card-preview a {
  color: #222;
  text-decoration: none;
}

/******************* TEMP STYLING ******************/

table,
th,
tr,
td {
  border: solid #333 1px;
  border-collapse: collapse;
}

th,
td {
  padding: 1rem;
  text-align: center;
}

textarea {
  border: solid red 1px;
  height: 150px;
  width: 350px;
}

h1,
ul,
form {
  text-transform: capitalize;
  border: solid rgb(111, 0, 255) 1px;
}


