/* @import url('');  GOOGLE FONTS*/

:root {
  --red: #d42828;
  --yellow: #f6b22b;
  --brown: #3b1f13;
  --green: #79c445;
  --black: #212123;
}
 
* {
  box-sizing: border-box;
}

html {
  font: 17px/1.5 'PT Sans', Verdana, Geneva, sans-serif;
}

body {
  background-color: #ede8e2;
}

main {
  margin: 0 auto;
  max-width: 1000px;
}

img {
  height: auto;
  max-width: 100%;
}
/********************* Header **********************/

header {
  background: var(--yellow);
}

h1 a {
  color: var(--red);
  font-size: 2.5rem;
  text-decoration: none;
}

#header-top {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  max-width: 1200px;
}

#header-top form {
  justify-self: center;
  padding: 1rem;
}

#header-lower {
  margin: 0 auto;
  max-width: 1200px;
}

#header-lower nav ul {
  justify-content: space-between;
  display: grid;
  grid-template-columns: repeat(6, auto);
  padding: .75rem 0;
}

header li {
  list-style: none;
}

header nav a {
  background: var(--green);
  border: solid #333 1px;
  border-radius: 30px;
  padding: .75rem 2rem;
  text-decoration: none;
}

/**************** Cards ***********************/

.card-preview-container {
  border: solid green 3px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.recipe-card-preview {
  border: solid blue 1px;
  padding: 2rem;
}

.recipe-card-preview a {
  color: #222;
  text-decoration: none;
}

/******************* TEMP STYLING ******************/

table,
th,
tr,
td {
  border: solid var(--black) 1px;
  border-collapse: collapse;
}

th,
td {
  padding: 1rem;
  text-align: center;
}

textarea {
  border: solid var(--black) 1px;
  height: 250px;
  width: 350px;
}

form {
  text-transform: capitalize;
}


