/* @import url('');  GOOGLE FONTS*/

:root {
  --red: #9b0404;
  --yellow: #f5e1b7;
  --brown: #3b1f13;
  --green: #c4f4a2;
  --black: #212123;
  --grey: #4a4a4a;
}
 
* {
  box-sizing: border-box;
}

html {
  font: 17px/1.5 'PT Sans', Verdana, Geneva, sans-serif;
}

body {
  background-color: #ede8e2;
  margin: 0;
  min-height: 100vh;
  padding-bottom: 275px;
  position: relative;
}

main {
  margin: 0 auto;
  max-width: 1000px;
}

img {
  border: solid 1px var(--brown);
  border-radius: 5px;
  height: auto;
  max-width: 100%;
}

a {
  text-decoration: none;
}

/********************* Header and Footer **********************/

header {
  background: var(--yellow);
  position: sticky;
  top: 0;
}

footer {
  background: var(--yellow);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;
}

h1 a,
footer h2 a {
  color: var(--red);
  font-size: 2.5rem;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#header-top,
footer section {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  max-width: 1200px;
}

#header-top form {
  justify-self: center;
  padding: 1rem;
}

#header-lower {
  margin: 0 auto;
  max-width: 1200px;
}

#header-lower nav ul {
  display: grid;
  grid-template-columns: repeat(6, auto);
  justify-content: space-between;
  padding: .75rem 0;
}

#header-lower nav a {
  background: var(--green);
  border: solid #333 1px;
  border-radius: 30px;
  box-shadow: 2px 2px 5px var(--grey);
  color: var(--black);
  padding: .5rem 2rem;
}

#header-lower nav a:hover {
  background: var(--black);
  box-shadow: 5px 5px 10px var(--red);
  color: var(--green);
}

header li,
footer li {
  list-style: none;
}

#social,
footer h2 {
  justify-self: center;
}

#social li {
  display: inline;
  font-size: 25px;
}

#social a,
#footer-nav a {
  color: var(--black);
}

/**************** Recipe Cards ***********************/

.card-preview-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.recipe-card-preview {
  border: solid var(--black) 3px;
  border-radius: 20px;
  padding: 2rem;
}

.recipe-card-preview a {
  color: var(--black);
}

/******************* Rating System ******************/

.rating-container {
  align-items: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rating-container .star-widget input {
  display: none;
}

.star-widget label {
  color: #444;
  font-size: 30px;
  float: right;
  padding: 5px;
  transition: all .2s ease;
}

.star-widget input:not(:checked) ~ label:hover,
.star-widget input:not(:checked) ~ label:hover ~ label {
  color: var(--yellow);
  cursor: pointer;
}

i,
.star-widget input:checked ~ label {
  color: var(--yellow);
}

/******************* Forms ******************/











/******************* TEMP STYLING ******************/

table,
th,
tr,
td {
  border: solid var(--black) 1px;
  border-collapse: collapse;
}

th,
td {
  padding: 1rem;
  text-align: center;
}

textarea {
  border: solid var(--black) 1px;
  height: 250px;
  width: 350px;
}

/* form {
  text-transform: capitalize;
} */
